test_db_connection.py
ca.pem

# virtual envs
env/
.venv/

# python cache
__pycache__/
*.pyc

# local env files (secrets)
.env
.env.*

# local DB scripts
update_attendance_schema.py
update_db_schema.py
check_database.py
check_db.py